$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import "icon";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
html,body {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}
.container {
  font-size: 14rem;
  .stage {
    position: relative;
    top: 30%;
    .note{
      width: 100%;
      margin: 0 auto;
    }
  }
}

